*{
	padding:0;
	margin:0;
	background-color:#5F5F5F;
}
body{
	padding-left:15%;
	padding-right:15%;
}

table, td, th{
	border:3px solid black;
	border-collapse:collapse;
	background-color:#999999;
}

thead th{
	padding-top:5px;
	padding-bottom:5px;
	font-family:'Franklin Gothic Demi';
	font-size:120%;
	color:white;
	text-shadow:1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
}

tbody th{
	font-family:'Courier New';
	text-align:center;
	background-color:#B53860;
}
tbody td{
	background-color:#BACDFF;
}


th{
	padding-left:8px;
	padding-right:8px;
	background-color:#5DB538;
}

table{
	margin-top:2%;
	margin-bottom:2%;
	text-align: center;
	position:relative;
	left:20%;
}

a{
	background-color:inherit;
	text-decoration:none;
	font-family:'Berlin Sans FB';
	color:#3B5AB6;
}

a:hover{	
	text-decoration:underline;
}

td, th{
	padding:3px;
	padding-left:6px;
	padding-right:6px;
	font-family:'Bahnschrift';
}